* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin: 20px 0;
}

.container {
    width: 600px;;
    height: 600px;
    border: 2px solid black;
    box-shadow: 10px 5px 5px gray;
    display: flex; 
    flex-wrap: wrap;
    
}

.item {
    flex-grow: 1;
    border: 1px solid black;
}

.buttons {
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
}

.buttons button {
    display: inline;
    font-size: 1rem;
    padding: 15px;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
}

.buttons button:hover {
    background-color:rgb(255, 255, 255);
}

input {
    border: none;
    outline: none;
    text-align: center;
}

button .color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

